body{
    font-family: roboto;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    background-color: black;
    flex-wrap: wrap;
    
}

h1{
    font-size: 24px;
    font-weight: bold;
    font-weight: bold;
    color:#f9faf8;
    padding-left: 280px;
    padding-top: 5px;

}

.header{
    font-size:18px;
    color:#f9faf8;
    display: flex;
    background-color:#1f2937;
    color: #f9faf8;
    align-items: baseline;  

}

.header-big{
    font-size: 48px;
    font-weight: bold;
    color:#e5e7eb;
    width: 400px;
    margin:0;
}

.header-text{
    font-size: 18px;
    color:#f9faf8;
    width: 400px;
    margin:0;
}

ul{
    list-style-type: none;
    display: flex;
    flex:1;
    justify-content: flex-end;
    gap: 20px;
    color:#e5e7eb;
    padding-right: 280px;
   
}

.content{
font-size: 18px;
color:#f9faf8;
display: flex;
flex-direction: column;
background-color:#1f2937;
color: #f9faf8;
width: 100%;
height:400px;
flex-basis: 350px;

}

.header-body{
    display: flex;
    background-color:#1f2937;
    padding-left: 280px;
    padding-top: 100px;

}

img{
    height: 250px;
    background-color:#1f2937;
    display: flex;
    padding-left: 170px;
    object-fit:cover;
    
}

.button{
    background-color: #3882f6;
    color:#f9faf8;
    width: 120px;
    font-size: 18px;
    margin-top: 18px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:8px;
    padding-bottom: 8px;
    justify-content: baseline;
   
}
/* I know there is a better way to do this, but im still learning, so i will be styling one section at a time */

.main-body{
    background-color: #f9faf8;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    padding-bottom:80px;

}

.random{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #f9faf8;
    margin: 0;
    padding-top: 50px;
}

.box{
    width: 150px;
    height: 150px;
    border: 5px solid  #3882f6;;
    border-radius: 15px;;
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    flex: 1;
    gap:50px;
    
}

.container1, .container2, .container3, .container4{
    flex-basis: 150px;
    color:#1f2937
}


.quote{
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    
}
.author{
    color:black;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
}

h2{
   color: #1f2937;
   font-weight: 900;
   font-size: 36px;
}

.signup{
    background-color: #3882f6;
    color: #f9faf8;
}

footer{
    background-color: #1f2937;
    color:#f9faf8
}

/* This is where i start to use flexbox */

